@import "reset.css";

body {
  background-color: #faf8d2;
  height: 100%;
  width: 100%;
  padding: 10px;
  font-family: "Times New Roman", courier, serif;
  font-size: 14pt;
  max-width: 1200px;
}

.container {
  flex-shrink: 0;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 0;
}

.container-cell-1 {
  flex-shrink: 0;
  grid-column-start: 1;
  grid-column-end: span 1;
  min-height: 0;
  min-width: 0;
}

.container-cell-2 {
  flex-shrink: 0;
  grid-column-start: 2;
  grid-column-end: span 1;
  min-height: 0;
  min-width: 0;
}

.page-container {
  flex-shrink: 0;
  display: grid;
  width: 100%;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 40px auto;
  column-gap: 0;
}

.side-bar {
  flex-shrink: 0;
  grid-column-start: 1;
  grid-column-end: span 1;
  min-height: 0;
  min-width: 0;
  padding-right: 30px;
  padding-left: 30px;
}

.content-container {
  flex-shrink: 0;
  grid-column-start: 2;
  grid-column-end: span 1;
  min-height: 0;
  min-width: 0;
}

.date {
  text-decoration: underline;
}

.right {
  text-align: right;
}

.right ::first-letter {
  text-transform: capitalize;
}

h1 {
  background-color: #ede8b0;
}

h1,
h2 {
  text-align: center;
}

h2 {
  color: #438729;
}

section > p::first-letter {
  color: #438729;
  padding-left: 30px;
}

legend {
  font-weight: 600;
}

input,
select {
  width: 100%;
}

.google {
  font-size: 13px;
  background-color: #ede8b0;
  margin-top: 30px;
  width: 100%;
}

li {
  list-style-type: none;
}

ul {
  padding-inline-start: 0;
}

a {
  text-decoration: none;
  display: inline-block;
  width: 100%;
  border-bottom: solid #aaa 1px;
  padding-left: 10px;
}

a:hover,
.selected {
  border-left: solid #aaa 5px;
}

a:visited {
  color: inherit;
}

.form-container {
  background-color: #fcf0d7;
  border: solid black 1px;
  padding: 20px;
}

.padded {
  padding: 5px;
}

.author {
  width: 300px;
}

.author > p {
  margin-top: 10px;
}

.confirm {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.confirm-button {
  width: 150px;
  margin: 5px;
}

.error {
  color: lightcoral;
  font-style: italic;
  font-size: 14px;
}
