@import "reset.css";

body {
  background-color: #eee;
  display: flex;
  justify-content: center;
}

.login-inputs {
  width: 500px;
  margin-top: 100px;
  padding: 40px;
  background-color: #fff;
}

.login-inputs > :first-child {
  margin-bottom: 20px;
}

.container {
  flex-shrink: 0;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 0;
}

.container-cell-1 {
  flex-shrink: 0;
  grid-column-start: 1;
  grid-column-end: span 1;
  min-height: 0;
  min-width: 0;
}

.container-cell-2 {
  flex-shrink: 0;
  grid-column-start: 2;
  grid-column-end: span 1;
  min-height: 0;
  min-width: 0;
}

input {
  width: 100%;
}

.error {
  color: lightcoral;
  font-style: italic;
  font-size: 12px;
  text-align: right;
}
